<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Gradient Boost</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="{{url_for('index')}}" class="logo">Analysis of Airbnb</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
				<li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('machine_learning')}}">Machine Learning</a></li>
                <li><a href="{{url_for('linear_regression')}}">Linear Regression</a></li>
                <li><a href="{{url_for('trees')}}">Trees</a></li>
                <li><a href="{{url_for('knn')}}">KNN</a></li>
                <li><a href="{{url_for('gradient_boost')}}">Gradient Boost</a></li>
                <li><br></li>
				<li><h4><a href="{{url_for('calculator')}}">fAirbnb Calculator</a></h4></li>
                </ul>
			</nav>

		<!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>Gradient Boost</h1>
                    <p>Gradient Boosting Regression originated from the question whether a weak learner can be modified to improve; a weak hypothesis or weak learner is defined as one whose performance is at least slightly better than random chance. 
                    </br>
                        To minimize loss of the model, this regression adds weak learners using a gradient descent-like procedure. Gradient boosting involves three elements: a loss function to be optimized, a weak learner to make predictions, and an additive model to integrate weak learners to minimize the loss function. One new weak learner is added at a time, and existing weak learners are frozen and left unchanged. 
                    </br>
                        Our gradient boosting regression model resulted in a good R2 Score and MSE. This means we found a well-fitting model to predict the median price value for our price prediction model. 
                    </p>
                </header>
                <div class="image fit">
                    <img src="../static/images/gb.png" alt="gradient boost" />
                </div>

                <h3>Scores</h3>
				<pre><code>
                    R2 sq:  0.9710711269069624
                    Mean squared error: 0.00
                    Test Variance score: 0.97
                </code></pre>
            </div>
        </section>

    <!-- Footer -->
    <<footer id="footer">
        <div class="inner">
            <h2>SMU</br>Data Science Bootcamp</h2>
            <ul class="actions">
                <li><span class="icon fa-phone"></span> <a href="#">(214) 775-9982</a></li>
                <li><span class="icon fa-envelope"></span> <a href="#">www.smu.edu/Pro</a></li>
                <li><span class="icon fa-map-marker"></span> Dallas, TX 75205</li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
        </div>
    </footer>


    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>