<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>KNN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="{{url_for('index')}}" class="logo">Analysis of Airbnb</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
				<li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('machine_learning')}}">Machine Learning</a></li>
                <li><a href="{{url_for('linear_regression')}}">Linear Regression</a></li>
                <li><a href="{{url_for('trees')}}">Trees</a></li>
                <li><a href="{{url_for('knn')}}">KNN</a></li>
                <li><a href="{{url_for('gradient_boost')}}">Gradient Boost</a></li>
                <li><br></li>
				<li><h4><a href="{{url_for('calculator')}}">fAirbnb Calculator</a></h4></li>
                </ul>
			</nav>

		<!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>K-nearest neighbor</h1>
                    <p>
                        A KNN regression calculates the average of the numerical target of the K nearest neighbors. 
                        The algorithm selects the best K value for the given data by running itself several times with different values of K. 
                        The model chooses the K that reduces the number of errors encountered while maintaining the ability to accurately 
                        make predictions when provided with new data. 
                    </br>
                        Our KNN average was .225 which means the similarities are minimal. If the neighbors had been more similar, a higher KNN average would have resulted. 
                    </p>
                </header>
                <div class="image fit">
                    <img src="../static/images/KNN.figure.png" alt="KNN chart" />
                </div>

                <h2>Strengths: </h2>
                <h4>no need to build a model </h4>
            </br>
                <h2>Weaknesses:  </h2>
                <h4>algorithm runs slower as examples or independent variables increase</h4>


            </div>
        </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>SMU</br>Data Science Bootcamp</h2>
            <ul class="actions">
                <li><span class="icon fa-phone"></span> <a href="#">(214) 775-9982</a></li>
                <li><span class="icon fa-envelope"></span> <a href="#">www.smu.edu/Pro</a></li>
                <li><span class="icon fa-map-marker"></span> Dallas, TX 75205</li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
        </div>
    </footer>


    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>